/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Sedan&display=swap');


/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    Padding: 0;
    Margin: 0;
    border: none;
    Font-Family: 'Sedan', serif;
    font-weight: 400;
    color: #030303
  }